.flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}
.parent {
    display: flex;
    justify-content: space-around;
}
.child{
    justify-content:space-around;
}
.header{
    display:flex;
    justify-content: center;
}
.nav > ul{
    display: flex;
    justify-content: center;

}
.img > div{
    display: flex;
    justify-content: center;
    position: absolute;
}
